@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

:root{
	--indie-indigo : #3c4576;
    --dark-indigo: #30375E;
    --light-indigo: #6b79bc;
    
	--dim-green : #def5ee;
    --light-green : #d9f0df;
    --active-green : #67CCAE;
	--growth-green : #00aa5f;
    --bright-green : #00BC72;
	--bg-green : #EDF8F0;
	
	
	--light-gray : #eff4f1;
    --btn-gray : #b7bcbf;
	--pale-gray : #eaeaea;
	--gray : #C4C4C4;
	--line-gray : #C7CED4;
	--bg-gray : #f5f5f5;
    --default : #94909E;
    --active-gray : #54515C;
    
	--youth-peach : #f3ab9c;
	--warning : #F73709;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root { 
        scroll-behavior: smooth;
    }
}


html {
    margin: 0;
    font-family: "Noto Sans cjk KR";
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
    margin: 0;
    padding: 120px 50px;
}
form{
    text-align: center;
}


/* Box 디자인 */
fieldset{    
        background-color: transparent;
        border:transparent;
        text-align: left;
    }

    .fieldset{
        display: block;
        box-shadow: 0px 0px 0.5rem rgb(0,0,0,0.3);
        border-radius: 1rem;
        padding: 2.75rem;
        border-top: 1rem solid var(--indie-indigo);
        margin: 40px 0;
    }


/* col */
.col {
      flex: 1 0 0%;
    }

    .col_auto {
      flex: 0 0 auto;
      width: auto;
    }

    .col_1 {
      flex: 0 0 auto;
      width: 8%;
    }

    .col_2 {
      flex: 0 0 auto;
      width: 16%;
    }

    .col_3 {
      flex: 0 0 auto;
      width: 25%;
    }

    .col_4 {
      flex: 0 0 auto;
      width: 33%;
    }

    .col_5 {
      flex: 0 0 auto;
      width: 40%;
    }

    .col_6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col_7 {
      flex: 0 0 auto;
      width: 58%;
    }

    .col_8 {
      flex: 0 0 auto;
      width: 66%;
    }

    .col_9 {
      flex: 0 0 auto;
      width: 75%;
    }

    .col_10 {
      flex: 0 0 auto;
      width: 83%;
    }

    .col_11 {
      flex: 0 0 auto;
      width: 92%;
    }

    .col_12 {
      flex: 0 0 auto;
      width: 100%;
    }



/* type 가이드 */

h1, h2, h3, h4, h5, h6 {
        letter-spacing: -0.05rem;
        color: var(--active-gray);
        margin: 0;
    }
    h1, .h1 {
      font-size: calc(2rem + 1.5vw);
    }
    @media (min-width: 1200px) {
      h1, .h1 {
        font-size: 3rem;
      }
    }

    h2, .h2 {
      font-size: calc(1.8rem + 1vw);
    }
    @media (min-width: 1200px) {
      h2, .h2 {
        font-size: 2.5rem;
      }
    }

    h3, .h3 {
        font-weight: 500;
        font-size: calc(1.65rem + 0.6vw);
    }
    @media (min-width: 1200px) {
      h3, .h3 {
        font-size: 2.1rem;
      }
    }

    h4, .h4 {
        font-weight: 500;
        font-size: calc(1.5rem + 0.3vw);
    }
    @media (min-width: 1200px) {
      h4, .h4 {
        font-size: 1.75rem;
      }
    }

    h5, .h5 {
        font-weight: 400;
        font-size: 1.25rem;
    }

    h6, .h6 {
        font-weight: 400;
        font-size: 1rem;
    }


.fieldset_title{
  display: block;
  margin: 60px 0;
  width: 100%;
  text-align: center;
}
.form_title h5{
    margin-bottom: 5px;
}
.form_title h6{
    color: var(--light-indigo);
}
.form_title{
  margin-bottom: 20px;
}


p{
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: -0.03rem;
    color: var(--active-gray);
}

a {
      color: var(--bright-green);
      text-decoration: none;
    }
    a:hover {
      color: var(--growth-green);
    }

    a:not([href]):not([class]), a:not([href]):not([class]):hover {
      color: inherit;
      text-decoration: none;
    }

legend{
    font-size: calc(1.5rem + 0.6vw);
    line-height: 1.6;
    color: var(--indie-indigo);
    font-weight: 600;
    letter-spacing: -0.04rem;
}



/* input 힌트텍스트 */
.hint_text{
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    line-height: 1.3;
}
    .default{
        color: var(--default);
    }
    .invalid_feedback{
        color: var(--warning);
    }

/* Input */

textarea {
    resize: vertical;
    vertical-align: top;
    box-sizing : border-box;
    font-family: "Noto Sans cjk KR";
    letter-spacing: -0.03rem;
}
input{
    vertical-align: top;
    width: inherit;
    box-sizing : border-box;
    letter-spacing: -0.03rem;
}
datalist{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

select{
    cursor: pointer;
}
option{
    width: inherit;
    font-family: inherit;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="range"]), textarea{
        background-color: transparent;
        border: 1px solid var(--line-gray);
        padding: 0.8rem 1rem;
        font-size: 1.1rem;
        border-radius: 0.2rem;
        color: var(--dark-indigo);
    }
    input::placeholder, textarea::placeholder{
        font-size: 1rem;
        font-weight: 400;
        color: var(--gray);
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):focus, textarea:focus{
        color: var(--dark-indigo);
        border-color: var(--active-green);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.25);
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):disabled,textarea:disabled{
        background-color: var(--bg-gray);
        border: 1px solid var(--pale-gray);
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):required, textarea:required{
        background-color: white;
        border: 1px solid var(--warning);
    }
    input[type="checkbox"]:disabled, input[type="radio"]:disabled{
        background-color: var(--bg-gray);
        border: 1px solid var(--pale-gray);
    }
    input[type="checkbox"]:required, input[type="radio"]:required{
        background-color: white;
        border: 1px solid var(--warning);
    }

    input[type="radio"]:required + label, input[type="checkbox"]:required + label{
        color: var(--warning);
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):required::placeholder, textarea:required::placeholder{
        color: var(--default);
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="range"]):required:focus{
        box-shadow: 0 0 0 0.2rem rgba(241, 171, 156, 0.25);
    }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;   
    -webkit-appearance: menulist-button;
    -webkit-background-color: rgb(236, 248, 240) !important;
}

input:-webkit-autofill
{
 -webkit-text-fill-color: var(--dark-ingigo) !important;
}


/* input group FUll or Seperated*/
.full_input_group{
        display: block;
        width: 100%;
    }
    .part_input_group{
        display: inline-block;
        vertical-align: top;
    }

/* input form */
    .input_form{
        vertical-align: top;
        display: inline-block;
    }
    .input_form input{
        width: 100%;
    }
    .input_full_width{
        width: 100%;
    }
    .input_full_width input, .input_full_width textarea{
        width: 100%;
    }

/* Input Label Disply 수평 라벨 or TOP 라벨 */
/* Input Label */


.input_label{
    display: inline-block;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    padding-left: 5px;
    font-size: 1rem;
    line-height: 1.25;
}
    .input_inline_label{
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        color: var(--default);
    }
    .input_inline_label .input_label{
        vertical-align: top;
        display: inline-block;
        padding: calc(0.75rem + 1px) 0 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 1.25;
    }
.input_top_label{
    display: block;
}
.input_top_label .input_label{
    display: block;
    margin-bottom: 0.2rem;
}



/* Button */
button,
    [type=button],
    [type=reset],
    [type=submit] {
      background-color: transparent;
      border: transparent;
    }
    button:not(:disabled),
    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled) {
      cursor: pointer;
    }


.btn button{
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.03rem;
      text-decoration: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      -webkit-appearance: button;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @media (prefers-reduced-motion: reduce) {
      .btn button{
        transition: none;
      }
    }
    .btn button:hover {
      color: #212529;
    }
    .btn button:disabled, .btn.disabled button, fieldset button:disabled .btn button{
        pointer-events: none;
        opacity: 0.65;
        color: var(--gray);
        background-color: var(--pale-gray);
        border: 1px solid var(--pale-gray);
    }


/* 커먼 타입 버튼 */
.hdm_btn_common button{
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: var(--indie-indigo);
    border-color: var(--indie-indigo);
}
    .hdm_btn_common button:hover {
      color: white;
      background-color: var(--bright-green);
      border-color: var(--bright-green);
    }
    .btn-check:focus + .hdm_btn_common button, .hdm_btn_common button:focus {
      color: white;
      background-color: var(--bright-green);
      border-color: var(--bright-green);
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .btn-check:checked + .hdm_btn_common button, .btn-check:active + .hdm_btn_common button, .hdm_btn_common button:active, .hdm_btn_common.active button, .show > .hdm_btn_common.dropdown_toggle {
      color: white;
      background-color: var(--growth-green);
      border-color: var(--growth-green);
    }
    .btn-check:checked + .hdm_btn_common button:focus, .btn-check:active + .hdm_btn_common button:focus, .hdm_btn_common button:active:focus, .hdm_btn_common.active:focus, .show > .hdm_btn_common.dropdown_toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }


/* 포인트 버튼 */
.hdm_btn_point button{
    width: inherit;
    height: inherit;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        color: white;
        background-color: var(--growth-green);
        border-color: var(--growth-green);
    }
    .hdm_btn_point button:hover {
        color: white;
        background-color: var(--bright-green);
        border-color: var(--bright-green);
    }
    .btn-check:focus + .hdm_btn_point button, .hdm_btn_point button:focus {
        color: white;
        background-color: var(--bright-green);
        border-color: var(--bright-green);
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .btn-check:checked + .hdm_btn_point button, .btn-check:active + .hdm_btn_point button, .hdm_btn_point button:active, .hdm_btn_point.active button, .show > .hdm_btn_point.dropdown-toggle {
        color: white;
        background-color: var(--growth-green);
        border-color: var(--growth-green);
    }
    .btn-check:checked + .hdm_btn_point button:focus, .btn-check:active + .hdm_btn_point button:focus, .hdm_btn_point button:active:focus, .hdm_btn_point.active:focus, .show > .hdm_btn_point.dropdown-toggle:focus { 
            box-shadow: 0 0 0 0.15rem rgba(103, 204, 173, 0.4);
    }

/* 이전 버튼 */
.hdm_btn_prev button{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #b7bcbf;
    border-color: #b7bcbf;
}
    .hdm_btn_prev button:hover {
        color: white;
        background-color: var(--line-gray);
        border-color: var(--line-gray);
    }
    .btn-check:focus + .hdm_btn_prev button, .hdm_btn_prev button:focus {
        color: white;
        background-color: var(--line-gray);
        border-color: var(--line-gray);
        box-shadow: 0 0 0 0.2rem rgba(207,230,219, 0.4);
    }
    .btn-check:checked + .hdm_btn_prev button, .btn-check:active + .hdm_btn_point button, .hdm_btn_prev button:active, .hdm_btn_prev.active, .show > .hdm_btn_prev.dropdown-toggle {
        color: white;
        background-color: var(--btn-gray);
        border-color: var(--btn-gray);
    }
    .btn-check:checked + .hdm_btn_prev button:focus, .btn-check:active + .hdm_btn_prev button:focus, .hdm_btn_prev button:active:focus, .hdm_btn_prev.active:focus, .show > .hdm_btn_prev.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.13rem rgba(207,230,219, 0.4);
    }

/* 다음버튼 */
.hdm_btn_next button{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--indie-indigo);
    border-color: var(--indie-indigo);
}
    .hdm_btn_next button:hover {
        color: white;
        background-color: var(--dark-indigo);
        border-color: var(--dark-indigo);
    }
    .btn-check:focus + .hdm_btn_next button, .hdm_btn_next button:focus {
        color: white;
        background-color: #4d5999;
        border-color: #4d5999;
        box-shadow: 0 0 0 0.2rem rgba(184, 191, 230, 0.45);
    }
    .btn-check:checked + .hdm_btn_next button, .btn-check:active + .hdm_btn_next button, .hdm_btn_next button:active, .hdm_btn_next.active, .show > .hdm_btn_next.dropdown-toggle {
        color: white;
        background-color: #5a68b3;
        border-color: #5a68b3;
    }
    .btn-check:checked + .hdm_btn_next:focus, .btn-check:active + .hdm_btn_next:focus, .hdm_btn_next:active:focus, .hdm_btn_next.active:focus, .show > .hdm_btn_next.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.13rem rgba(184, 191, 230, 0.45);
    }


/* 자세히 보기 버튼 */
.hdm_btn_detail button{
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    color: var(--active-gray );
    background-color: var(--bg-gray);
    border-color: var(--bg-gray);
    line-height: 1;
}
    .hdm_btn_detail button:hover {
        color: var(--indie-indigo);
        background-color: var(--bg-green);
        border-color: var(--bg-green);
    }
    .btn-check:focus + .hdm_btn_detail button, .hdm_btn_detail button:focus {
        background-color: var(--light-green);
        border-color: var(--light-green);
        box-shadow: 0 0 0 0.15rem rgba(103, 204, 173, 0.3);
    }
    .btn-check:checked + .hdm_btn_detail button, .btn-check:active + .hdm_btn_detail button, .hdm_btn_detail button:active, .hdm_btn_detail.active, .show > .hdm_btn_detail.dropdown-toggle {
        color: var(--light-indigo);
        background-color: var(--bg-green);
        border-color: var(--bg-green);
    }
    .btn-check:checked + .hdm_btn_detail button:focus, .btn-check:active + .hdm_btn_detail button:focus, .hdm_btn_detail button:active:focus, .hdm_btn_detail.active:focus, .show > .hdm_btn_detail.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.11rem rgba(103, 204, 173, 0.3);
    }

/* 텍스트 타입 버튼 */
.hdm_btn_texttype button{ 
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .hdm_btn_texttype button:hover {
        color: var(--growth-green);
        font-weight: 500;
    }
    .btn-check:checked + .hdm_btn_texttype button, .btn-check:active + .hdm_btn_texttype button, .hdm_btn_texttype button:active, .hdm_btn_texttype.active, .show > .hdm_btn_texttype button.dropdown-toggle {
        color: var(--bright-green);
    }
    .hdm_btn_texttype button:disabled, .hdm_btn_texttype button.disabled, fieldset:disabled .hdm_btn_texttype button {
        pointer-events: none;
        opacity: 0.65;
        color: var(--gray);
    }

/* 라인타입 버튼 */
.hdm_btn_linetype button{
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--active-gray);
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    border-color: var(--line-gray);
}
    .hdm_btn_linetype button:hover {
      color: var(--active-gray);
      border-color: var(--bright-green);
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.25);
    }
    .btn-check:focus + .hdm_btn_linetype button, .hdm_btn_linetype button:focus {
      color: var(--bright-green);
      border-color: var(--bright-green);
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .btn-check:checked + .hdm_btn_linetype button, .btn-check:active + .hdm_btn_linetype button, .hdm_btn_linetype button:active, .hdm_btn_linetype.active, .show > .hdm_btn_linetype.dropdown-toggle {
      color: var(--growth-green);
      border-color: var(--growth-green);
    }
    .btn-check:checked + .hdm_btn_linetype button:focus, .btn-check:active + .hdm_btn_linetype button:focus, .hdm_btn_linetype button:active:focus, .hdm_btn_linetype.active:focus, .show > .hdm_btn_linetype.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .hdm_btn_linetype button:disabled, .hdm_btn_linetype button.disabled, fieldset:disabled .hdm_btn_linetype button {
        pointer-events: none;
        opacity: 0.65;
        color: var(--gray);
    }




.input_label label {
        vertical-align: top;
        display: block;
        color: var(--default);
    }
    .input_label{
        display: inline-block;
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        padding-left: 5px;
        font-size: 1rem;
        line-height: 1.25;
    }



.form_check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.4rem;
}
    .form_check_input{
        list-style: none;
    }
    .form_check .form_check_input input {
      display: inline-block;
        float: left;
        margin-left: -1.5em;
        margin-right: 0.5rem;
    }

    .form_check .form_check_label{
        line-height: 1;
    }

    .form_check_input label{
        color: var(--default);
        line-height: 1;
    }
    .form_check_input input {
      width: 1.2em;
      height: 1.2em;
      margin-top: 0.3em;
      vertical-align: top;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 1px solid rgba(0, 0, 0, 0.25);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
    .form_check_input input[type=checkbox], .form_check_input input[type=radio] {
      border-radius: 50%;
    }
    .form_check_input input:active {
        filter: brightness(90%);
    }
    .form_check_input input:focus {
        border-color: var(--active-green);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .form_check_input input:checked{
        background-color: var(--bright-green);
        border-color: var(--bright-green);
    }
    .form_check_input label:checked {
        color: var(--bright-green);
        border-color: var(--growth-green);
    }
    .form_check_input input:checked[type=checkbox] {
        background-color: var(--bright-green);
        border-color: var(--growth-green);
    }
    .form_check_input input:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
    .form_check_input input[type=checkbox]:indeterminate {
      background-color: var(--bright-green);
      border-color: var(--bright-green);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }
    .form_check_input input:disabled, .form_check_input input:disabled + label{
      pointer-events: none;
      filter: none;
      opacity: 0.5;
    }
    .form_check_input input[disabled] ~ .form_check_label, .form_check_input input:disabled ~ .form_check_label {
      opacity: 0.5;
    }   
    .form_check_input input:checked + label{
        color: var(--indie-indigo);
    }
    .form_check_input input:focus + label{
        color: var(--growth-green);
    }

.was-validated .form_check_input input:invalid ~ .form_check_label, .form_check_input input.is-invalid ~ .form_check_label {
  color: var(--warning);
}
.was-validated .form_check_input input:valid ~ .form_check_label, .form_check_input input.is-valid ~ .form_check_label {
  color: var(--light-green);
}

.form_check_inline {
  display: inline-block;
  margin-right: 1.3rem;
}



/* */

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
    .btn-check[disabled] + .btn, .btn-check:disabled + .btn {
      pointer-events: none;
      filter: none;
      opacity: 0.65;
    }



.form_range input {
    width: 100%;
    height: 1.6rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_range label {
    margin-bottom: 10px; 
        vertical-align: top;
        display: block;
        color: var(--default);
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        padding-left: 5px;
        font-size: 1rem;
        line-height: 1.25;
        letter-spacing: -0.03rem;
}

.form_range .range_value{
    color: var(--gray);
    font-size: 0.85rem;
}
    .form_range .range_value .min{
        margin-left: 0.4rem;
    }
    .form_range .range_value .max{
        float: right;
        margin-right: 0.4rem;
    }
.form_range_inline input{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
    .form_range label{
        display: inline-block;
        margin-bottom: 0;
        width: 28%;
        vertical-align: top;
        padding: 0.3rem 0;
    }

    .form_range input:focus {
      outline: 0;
    }
    .form_range input:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .form_range input:focus::-moz-range-thumb {
      box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .form_range input::-moz-focus-outer {
      border: 0;
    }
    .form_range input::-webkit-slider-thumb {
      width: 2.4rem;
      height: 1.5rem;
      margin-top: -0.175rem;
      background-color: var(--bright-green);
      border: 0;
      border-radius: 99rem;
      -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-appearance: none;
      appearance: none;
    }
    @media (prefers-reduced-motion: reduce) {
      .form_range input::-webkit-slider-thumb {
        -webkit-transition: none;
        transition: none;
      }
    }
    .form_range input::-webkit-slider-thumb:active {
      background-color: var(--light-indigo);
      box-shadow: 0 0 0 0.2rem rgba(103, 103, 193, 0.3);
    }
    .form_range input::-webkit-slider-runnable-track {
      width: 100%;
      height: 1rem;
      color: transparent;
      cursor: pointer;
      background-color: var(--bg-gray);
      border-color: transparent;
      border-radius: 1rem;
    }
    .form_range input::-moz-range-thumb {
      width: 1rem;
      height: 1rem;
      background-color: var(--bright-green);
      border: 0;
      border-radius: 1rem;
      -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -moz-appearance: none;
      appearance: none;
    }
    @media (prefers-reduced-motion: reduce) {
      .form_range input::-moz-range-thumb {
        -moz-transition: none;
        transition: none;
      }
    }
        .form_range input::-moz-range-thumb:active {
          background-color: var(--light-green);
        }
        .form_range input::-moz-range-track {
          width: 100%;
          height: 0.5rem;
          color: transparent;
          cursor: pointer;
          background-color: var(--bg-gray);
          border-color: transparent;
          border-radius: 1rem;
        }
        .form_range input:disabled {
          pointer-events: none;
            opacity: 0.5;
        }
        .form_range input:disabled::-webkit-slider-thumb {
          background-color: var(--line-gray);
        }
        .form_range input:disabled::-moz-range-thumb {
          background-color: var(--line-gray);
        }

        .form_range input:required {
          pointer-events: none;
            opacity: 0.5;
        }
        .warning label{
            color: var(--warning);
        }
        .form_range input:required::-webkit-slider-thumb {
          background-color: var(--warning);
        }
        .form_range input:required::-moz-range-thumb {
          background-color: var(--warning);
        }




/* select */

.form_select {
        vertical-align: top;
        display: inline-block;
    width: 100%;
}
.form_select select {
    display: block;
    width: inherit;
    border: 1px solid var(--line-gray);
    padding: 0.717rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    color: var(--dark-indigo);
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
    .form_select select:focus {
        border-color: var(--active-green);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .form_select select[multiple], .form_select select[size]:not([size="1"]) {
      padding-right: 0.75rem;
      background-image: none;
    }
    .form_select select:disabled {
      background-color: var(--bg-gray);
    }
    .form_select select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 var(--active-gray);
    }
    .form_select select:optional::placeholder{
        color: var(--gray);
    }
    .form_select select:optional{
        font-size: 1rem;
        font-weight: 400;
        color: var(--active-gray);
    }



/* likert */

.likert{
    display: inline-block;
    position: relative;
    margin: 0.5rem auto;
}
    .likert ul {
        padding-left: 0;
        display: inline-block;
        margin: 0;
    }
    .likert ul li{
        display: inline-block;
    }
    .likert ul li input{
        margin: 0;
    }
    .likert ul li label{
        cursor: pointer;
        position: absolute;
        text-align: center;
        display: block;
        padding: 0.8rem;
        width: 3.2rem;
        height: 3.2rem;
        top:0;
        color: var(--default);
    }
    .likert ul li input[type="radio"]{
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid var(--line-gray);
/*        padding: 0.8rem 1rem;*/
        font-size: 1.1rem;
        border-radius: 0.2rem;
        color: var(--dark-indigo);
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .likert ul li input[type="radio"]:active {
        filter: brightness(90%);
    }
    .likert ul li input[type="radio"]:focus {
        border-color: var(--active-green);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .likert ul li input[type="radio"]:required {
        border-color: var(--warning);
        outline: 0;
        color: var(--warning);
        box-shadow: 0 0 0 0.2rem rgba(241, 171, 156, 0.25);
    }
    .likert ul li input[type="radio"]:required:focus {
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
    }
    .likert ul li input:checked[type="radio"] {
        background-color: var(--bg-green);
        border-color: var(--growth-green);
    }
    .likert ul li input:disabled[type="radio"]{
        pointer-events: none;
        filter: none;
        opacity: 0.5;
        background-color: var(--bg-gray);
    }
    .likert ul li input:checked + label{
        color: var(--indie-indigo);
    }
    .likert ul li input:focus + label{
        color: var(--growth-green);
    }


/* 세로형 리커트 */
.likert_vertical{
    display: inline-block;
}

/* likertscale 리커트 스케일 위치 */
    .likert .likertscale_horizontal{
        display: inline-block;
        line-height: 3.4;
        vertical-align: top;
        padding: 0 10px;
        font-size: 0.9rem;
        letter-spacing: -0.04rem;
        color: var(--default);
    }
    .likert .likertscale_vertical{
        display: block;
        line-height: 2.4;
        font-size: 0.9rem;
        letter-spacing: -0.04rem;
        color: var(--default);
    }
    .likert .likertscale_left{
        padding-left: 0.2rem;
        float: left;
    }
    .likert .likertscale_right{
        float: right;
    }



/* file form */
.form_control{
    display: inline-block;
}
.form_control input{
    display: inline-block;
}
    @media (prefers-reduced-motion: reduce) {
      .form_control {
          transition: none;
      }
    }
    .form_control input[type="file"] {
        overflow: hidden;
        width:100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--active-gray);
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid var(--line-gray);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form_control input[type="file"]:not(:disabled):not([readonly]) {
        cursor: pointer;
    }
    .form_control input[type="file"]:focus {
        border-color: var(--active-green);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(103, 204, 173, 0.5);
        color: var(--active-gray);
        background-color: #fff;
    }
    .form_control input[type="file"]::-webkit-date-and-time-value {
        height: 1.5em;
    }
    .form_control input[type="file"]::-moz-placeholder {
        color: var(--default);
        opacity: 1;
    }
    .form_control input[type="file"]::placeholder {
        color: var(--default);
        opacity: 1;
    }
    .form_control input[type="file"]:disabled, .form_control input[readonly] {
        background-color: var(--bg-gray);
        opacity: 1;
    }
    .form_control input[type="file"]::file-selector-button {
        padding: 1.75rem 1.375rem;
        margin: -1.75rem -1.375rem;
        -webkit-margin-end: 1.375rem;
        margin-inline-end: 1.375rem;
        color: var(--active-gray);
        background-color: var(--bg-gray);
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    @media (prefers-reduced-motion: reduce) {
      .form_control input[type="file"]::file-selector-button {
        transition: none;
      }
    }
    .form_control input[type="file"]:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--bg-green);
        color: var(--indie-indigo);
    }
    .form_control input[type="file"]::-webkit-file-upload-button {
        padding: 1.75rem 1.375rem;
        margin: -1.75rem -1.375rem;
        -webkit-margin-end: 1.375rem;
        margin-inline-end: 1.375rem;
        color: var(--active-gray);
        background-color: var(--bg-gray);
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @media (prefers-reduced-motion: reduce) {
        .form_control input::-webkit-file-upload-button {
            -webkit-transition: none;
            transition: none;
        }
    }
    .form_control input:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
      background-color: var(--bg-green);
    }


/* date */
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="time"]{
    font-family: "Noto Sans cjk KR";    
    letter-spacing: 0;
}