@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"  rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"  crossorigin="anonymous">

html {
    font-size: 1rem;
}
body {
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.04em;
}
.section{
    position: relative;
    text-align: center;
    margin: 50px auto;
}
.btn{
    display: inline-block;
    color: white;
    padding: 14px 20px;
}
.box{
    border-radius: 10px;
    color: #545454;
    margin: 0 auto;
    padding: 50px 30px;
    width: 86%;
    max-width: 540px;
    min-width: 288px;
    text-align: left;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.3);
    border-top: 15px solid #3c4576;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 400;
    line-height: 1.3;
}
h1, h4{
    margin-bottom: 40px;
}
h2 {
    margin-top: 1.3em;
}
a {
    color: #0083e8;
}
b, strong {
    font-weight: 600;
}
input, select{
    height: 54px;
}
.input_tip{
    line-height: 1.4;
    font-size: 13px;
    margin:0 0 7px;
    color: #6b79bc;
}
.minimum_text{
    display: inline-block;
    margin-top: 8px;
    line-height: 1.4;
    font-size: 13px;
}



/* TOP */
#top_info{
    margin: 100px auto 0;
}



/* 스탭1 본인확인 */

#personal_info{
    margin: 80px auto;
}
#personal_info .col-1{
    display: inline-block;
}
#personal_info .col-5{
    min-width: 150px;
}
#personal_info .col-2{
    min-width: 60px;
}
#personal_info .col-3{
    padding: 0;
    margin: 0;
    letter-spacing: 0;
}
#personal_info p{
    line-height: 3.6;
}
.army{
    margin-top: 30px;
}

/* 개인정보이용동의 */
.step1_check{
    width: 86%;
    max-width: 540px;
    min-width: 288px;
    margin: 50px auto 0;
    padding: 0 20px;
    font-size: 15px;
    text-align: left;
}
.step1_check .col-12{
    /*background-color: #0dcaf0;*/
    margin: 4px 0;
}
.step1_check .col-12 .form-check{
    display: inline-block;
}
.step1_check .col-12 .btn_see_more{
    float: right;
    color: #555;
    background-color: #f5f5f5;
    font-size: 13px;
    padding: 3px 10px;
}
.step1_check .col-12 .btn_see_more:hover{
    background-color: #e5f8f1;
}
.form-check-input[type=checkbox] {
  border-radius: 25em;
}
.form-check-input:focus {
  border-color: #00aa5f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(222,245,238, 1);
}
.form-check-input:checked {
  background-color: #00aa5f;
  border-color: #00aa5f;
}
.form-check-input:checked[type=checkbox] {
  background-image: none;
  color: #00aa5f;
}


@media (max-width: 490px) {
    .step1_check .col-12 .form-check{
        width: 70%;
        margin: 7px auto;
    }
    .step1_check .col-12 .btn_see_more{
        margin-top: 6px;
    }
}

@media (max-width: 460px) {
    /*    모바일에서 폰트사이즈랑 패딩 줄이기*/
    #personal_info .col-3 p{
        font-size: 12px;
        line-height: 4.5;
    }
    #personal_info .col-1{
        display: none;
    }
}

@media (max-width: 340px) {
    #personal_info .col-3 p{
        font-size: 10px;
        line-height: 5.5;
    }
}



/* 스탭2 대출정보 */

#loan_info fieldset{
    margin-bottom: 40px;
}

#loan_info .text_field_label{
    margin-top: 30px;
}

.loan_title{
    display: inline-block;
}
.loan_value{
    display: inline-block;
    line-height: 1;
    float: right;
    color: #222;
    font-size: 20px;
    font-weight: 500;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.25rem rgba(222,245,238, 1);
}
.form-range::-webkit-slider-thumb {
  width: 4rem;
  height: 1.5rem;
  margin-top: -0.15rem;
  background-color: #636a91;
  border: 0;
  border-radius: 0.8rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}
.form-range::-webkit-slider-thumb:active {
  background-color: #00aa5f;
}
.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.2rem;
  color: transparent;
  cursor: pointer;
  background-color: #ebecf1;
  border-color: transparent;
  border-radius: 3rem;
}

.range_num{
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
    padding: 0; margin: 0;
    color: #505884;
}
.range_mim{
    display: inline-block;
    float: left;
    line-height:1;
    margin-left: 5px;
}
.range_max{
    display: inline-block;
    float: right;
    line-height:1;
    margin-right: 5px;
}



/* 소속 정보 */
.twin_btn{
    display: block;
    height: 70px;
    width: 100%;
    margin: 0 auto;
}
.btn_yesno{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 47%;
    height: 62px;
    line-height: 1;
    border-radius: 5px;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}
.btn_yesno:hover{
    border: 1px solid #3c4576;
}
.btn_yesno:active{
    border: 1px solid #00aa5f;
    background-color: #e5f8f1;
    color: #00aa5f;
}
.yes_btn{
    float: left;
    margin-right: 4%;
}
.no_btn{
    float: right;
}


/* 대학생 해당 */
.univ_status{
    margin-bottom: 60px;
}
.univ_student .row{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.univ_student .row .col-7 {
    width: 60%;
    padding: 0;
}

.univ_student .row .col-3 {
    width: 40%;
    max-width: 100px;
    font-size: 18px;
    line-height: 3.3;
}


/* 선택 입력사항 */
.select_info_title{
    margin:30px 0 7px;
}

.select_list{
    margin-top: 20px;
}

.select-check{
    display: inline-block;
    margin: 4px;
    padding: 12px 20px 12px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: #555;
    width: 45%;
}
.select-check:hover{
    border: 1px solid #00aa5f;
    color: #00aa5f;
}
.select-check:focus {
    border: 1px solid #00aa5f;
    color: #00aa5f;
  box-shadow: 0 0 0 0.25rem rgba(222,245,238, 1);
}
.select-check:active{
    border: 1px solid #00aa5f;
    background-color: #e5f8f1;
    color: #00aa5f;
}
.select-check-list[type=checkbox] {
  border-radius: 25em;
}
.select-check-list[type=radio] {
  border-radius: 100%;
}
.select-check-list:active {
  filter: brightness(90%);
}
.select-check-list{
    margin-right: 10px;
    border-radius: 50px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select-check-list:checked {
  background-color: #00aa5f;
  border-color: #00aa5f;
}
.select-check-list:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.check_text{
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

@media (max-width: 430px) {
    .select-check-list{
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    .check_text{
        text-align: center;
        display: block;
        padding-top: 10px;
    }
}



/* 헥사코 검사 */
.box_container{
    width: 86%;
    max-width: 540px;
    min-width: 288px;
    margin: 0 auto;
}
.hexaco_item{
    border-radius: 10px;
    color: #545454;
    padding: 40px 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.3);
    border-top: 15px solid #3c4576;
}

.hexaco_item h2{
    margin: 0 0 30px;
    font-size: 19px;
}
.hexaco_item .answer_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.hexaco_item .answer_list a{
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 62px;
    height: 62px;
    margin: 2px;
    line-height: 2.5;
    border-radius: 5px;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}
.hexaco_item .answer_list a:active {
  filter: brightness(90%);
}
.hexaco_item .answer_list a:hover {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.hexaco_item .answer_list a:active {
  background-color: #e5f8f1;
  border-color: #00aa5f;
  color: #00aa5f;
}



/* 단계 버튼 */
.pre_btn{
    border-radius: 5px;
    background-color: #939393;
    margin-right: 10px;
    width: 40%;
    max-width: 160px;
}
.next_btn{
    border-radius: 5px;
    background-color: #3c4576;
    width: 40%;
    max-width: 160px;
}



@media (max-width: 490px) {
    .hexaco_item .answer_list a{
        width: 17%;
        font-size: 22px;
        height: 58px;
        padding: 0;
        line-height: 2.6;
    }
}
