<div class="hs-unfold">
  <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-light rounded-circle" href="javascript:;"
     data-hs-unfold-options='{
       "target": "#appsNavbarDropdown",
       "type": "css-animation"
     }'>
    <i class="tio-menu-vs-outlined"></i>
  </a>

  <div id="appsNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu" style="width: 25rem;">
    <!-- Header -->
    <div class="card-header">
      <span class="card-title h4">Web apps &amp; services</span>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body card-body-height">
      <!-- Nav -->
      <div class="nav nav-pills flex-column">
        <a class="nav-link" href="#">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/atlassian.svg" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">Atlassian</span>
              <span class="d-block font-size-sm text-body">Security and control across Cloud</span>
            </div>
          </div>
        </a>

        <a class="nav-link" href="#">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/slack.svg" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">Slack <span class="badge badge-primary badge-pill text-uppercase ml-1">Try</span></span>
              <span class="d-block font-size-sm text-body">Email collaboration software</span>
            </div>
          </div>
        </a>

        <a class="nav-link" href="#">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/frontapp.svg" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">Frontapp</span>
              <span class="d-block font-size-sm text-body">The inbox for teams</span>
            </div>
          </div>
        </a>

        <a class="nav-link" href="#">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs" src="@@autopath/assets/svg/illustrations/review-rating-shield.svg" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">HS Support</span>
              <span class="d-block font-size-sm text-body">Customer service and support</span>
            </div>
          </div>
        </a>

        <a class="nav-link" href="#">
          <div class="media align-items-center">
            <span class="avatar avatar-xs avatar-soft-dark mr-3">
              <span class="avatar-initials"><i class="tio-apps"></i></span>
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">More Front products</span>
              <span class="d-block font-size-sm text-body">Check out more HS products</span>
            </div>
          </div>
        </a>
      </div>
      <!-- End Nav -->
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <a class="card-footer text-center" href="#">
      View all apps
      <i class="tio-chevron-right"></i>
    </a>
    <!-- End Footer -->
  </div>
</div>