<div class="hs-unfold">
  <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
     data-hs-unfold-options='{
      "target": "#languageDropdown",
      "type": "css-animation",
      "animationIn": "slideInDown",
      "hideOnScroll": true
     }'>
    <img class="avatar avatar-xss avatar-circle" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="United States Flag">
  </a>

  <div id="languageDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
    <span class="dropdown-header">Select language</span>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Flag">
      <span class="text-truncate pr-2" title="English">English (US)</span>
    </a>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/gb.svg" alt="Flag">
      <span class="text-truncate pr-2" title="English">English (UK)</span>
    </a>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/de.svg" alt="Flag">
      <span class="text-truncate pr-2" title="Deutsch">Deutsch</span>
    </a>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/dk.svg" alt="Flag">
      <span class="text-truncate pr-2" title="Dansk">Dansk</span>
    </a>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/it.svg" alt="Flag">
      <span class="text-truncate pr-2" title="Italiano">Italiano</span>
    </a>
    <a class="dropdown-item" href="#">
      <img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/cn.svg" alt="Flag">
      <span class="text-truncate pr-2" title="中文 (繁體)">中文 (繁體)</span>
    </a>
  </div>
</div>