<div class="hs-unfold">
  <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
     data-hs-unfold-options='{
      "target": "#otherLinksDropdown",
      "type": "css-animation",
      "animationIn": "slideInDown",
      "hideOnScroll": true
     }'>
    <i class="tio-help-outlined"></i>
  </a>

  <div id="otherLinksDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
    <span class="dropdown-header">Help</span>
    <a class="dropdown-item" href="#">
      <i class="tio-book-outlined dropdown-item-icon"></i>
      <span class="text-truncate pr-2" title="Resources &amp; tutorials">Resources &amp; tutorials</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="tio-command-key dropdown-item-icon"></i>
      <span class="text-truncate pr-2" title="Keyboard shortcuts">Keyboard shortcuts</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="tio-alt dropdown-item-icon"></i>
      <span class="text-truncate pr-2" title="Connect other apps">Connect other apps</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="tio-gift dropdown-item-icon"></i>
      <span class="text-truncate pr-2" title="What's new?">What's new?</span>
    </a>
    <div class="dropdown-divider"></div>
    <span class="dropdown-header">Contacts</span>
    <a class="dropdown-item" href="#">
      <i class="tio-chat-outlined dropdown-item-icon"></i>
      <span class="text-truncate pr-2" title="Contact support">Contact support</span>
    </a>
  </div>
</div>