<button type="button" class="navbar-toggler btn btn-block btn-white mb-3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu" data-toggle="collapse" data-target="#navbarVerticalNavMenu">
  <span class="d-flex justify-content-between align-items-center">
    <span class="h5 mb-0">Nav menu</span>

    <span class="navbar-toggle-default">
      <i class="tio-menu-hamburger"></i>
    </span>

    <span class="navbar-toggle-toggled">
      <i class="tio-clear"></i>
    </span>
  </span>
</button>