<li class="nav-item">
  <a class="nav-icon @@if(compact=='index.html'){active}" href="@@autopath/index.html">
    <i class="tio-home-vs-1-outlined"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='users.html'){active}" href="@@autopath/users.html">
    <i class="tio-pages-outlined"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='kanban.html'){active}" href="@@autopath/kanban.html">
    <i class="tio-apps"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='authentication-signin-basic.html'){active}" href="@@autopath/authentication-signin-basic.html">
    <i class="tio-lock-outlined"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='welcome-page.html'){active}" href="@@autopath/welcome-page.html">
    <i class="tio-visible-outlined"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='layouts.html'){active}" href="@@autopath/layouts.html">
    <i class="tio-dashboard-vs-outlined"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='documentation/index.html'){active}" href="@@autopath/documentation/index.html">
    <i class="tio-book-opened"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='documentation/typography.html'){active}" href="@@autopath/documentation/typography.html">
    <i class="tio-layers-outlined"></i>
  </a>
</li>