<ul class="navbar-nav flex-grow-1">
  <!-- Dashboards -->
  <li class="hs-has-sub-menu navbar-nav-item">
    <a id="dashboardsDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkDashboardsDropdown">
      <i class="tio-home-vs-1-outlined nav-icon"></i> Dashboards
    </a>

    <!-- Dropdown -->
    <ul id="navLinkDashboardsDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="dashboardsDropdown" style="min-width: 16rem;">
      <li>
        <a class="dropdown-item" href="@@autopath/index.html">
          <span class="tio-circle nav-indicator-icon"></span> Default
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="@@autopath/dashboard-alternative.html">
          <span class="tio-circle nav-indicator-icon"></span> Alternative
        </a>
      </li>
    </ul>
    <!-- End Dropdown -->
  </li>
  <!-- End Dashboards -->

  <!-- Pages -->
  <li class="hs-has-sub-menu navbar-nav-item">
    <a id="pagesDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkPagesDropdown">
      <i class="tio-pages-outlined nav-icon"></i> Pages
    </a>

    <!-- Dropdown -->
    <ul id="navLinkPagesDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdown" style="min-width: 16rem;">
      <!-- Users -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownUsers" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownUsers">
          <span class="tio-circle nav-indicator-icon"></span> Users
        </a>

        <ul id="navLinkPagesDropdownUsers" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownUsers" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/users.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Overview
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/users-leaderboard.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Leaderboard
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/users-add-user.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Add User <span class="badge badge-info badge-pill ml-1">Hot</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Users -->

      <!-- User Profile -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownUserProfile" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownUserProfile">
          <span class="tio-circle nav-indicator-icon"></span> User Profile <span class="badge badge-primary badge-pill ml-2">5</span>
        </a>

        <ul id="navLinkPagesDropdownUserProfile" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownUserProfile" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/user-profile.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/user-profile-teams.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Teams
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/user-profile-projects.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Projects
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/user-profile-connections.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Connections
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/user-profile-my-profile.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> My Profile
            </a>
          </li>
        </ul>
      </li>
      <!-- End User Profile -->

      <!-- Account -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownAccount" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownAccount">
          <span class="tio-circle nav-indicator-icon"></span> Account
        </a>

        <ul id="navLinkPagesDropdownAccount" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownAccount" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/account-settings.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Settings
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/account-billing.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Billing
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/account-invoice.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Invoice
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/account-api-keys.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> API Keys
            </a>
          </li>
        </ul>
      </li>
      <!-- End Account -->

      <!-- E-commerce -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownEcommerce" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownEcommerce">
          <span class="tio-circle nav-indicator-icon"></span> E-commerce
        </a>

        <ul id="navLinkPagesDropdownEcommerce" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownEcommerce" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/ecommerce.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Overview
            </a>
          </li>

          <li class="hs-has-sub-menu navbar-nav-item">
            <a id="pagesDropdownEcommerceSublevel" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownEcommerceProducts">
              <span class="tio-circle nav-indicator-icon"></span> E-commerce
            </a>

            <ul id="navLinkPagesDropdownEcommerceProducts" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownEcommerceSublevel" style="min-width: 16rem;">
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-products.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Products
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-product-details.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Product Details
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-add-product.html">
                  <span class="tio-circle nav-indicator-icon"></span> Add Product
                </a>
              </li>
            </ul>
          </li>

          <li class="hs-has-sub-menu navbar-nav-item">
            <a id="pagesDropdownEcommerceSublevel" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownEcommerceOrders">
              <span class="tio-circle nav-indicator-icon"></span> Orders
            </a>

            <ul id="navLinkPagesDropdownEcommerceOrders" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownEcommerceSublevel" style="min-width: 16rem;">
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-orders.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Orders
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-order-details.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Order Details
                </a>
              </li>
            </ul>
          </li>

          <li class="hs-has-sub-menu navbar-nav-item">
            <a id="pagesDropdownEcommerceSublevel" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownEcommerceCustomers">
              <span class="tio-circle nav-indicator-icon"></span> Customers
            </a>

            <ul id="navLinkPagesDropdownEcommerceCustomers" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownEcommerceSublevel" style="min-width: 16rem;">
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-customers.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Customers
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-customer-details.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Customer Details
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@@autopath/ecommerce-add-customers.html">
                  <span class="tio-circle-outlined nav-indicator-icon"></span> Add Customers
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="@@autopath/ecommerce-manage-reviews.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Manage Reviews
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/ecommerce-checkout.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Checkout
            </a>
          </li>
        </ul>
      </li>
      <!-- End E-commerce -->

      <!-- Projects -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownProjects" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownProjects">
          <span class="tio-circle nav-indicator-icon"></span> Projects
        </a>

        <ul id="navLinkPagesDropdownProjects" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownProjects" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/projects.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Overview
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/projects-timeline.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Timeline
            </a>
          </li>
        </ul>
      </li>
      <!-- End Projects -->

      <!-- Project -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownProject" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownProject">
          <span class="tio-circle nav-indicator-icon"></span> Project
        </a>

        <ul id="navLinkPagesDropdownProject" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownProject" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/project.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Overview
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/project-files.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Files <span class="badge badge-info badge-pill ml-1">Hot</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/project-activity.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Activity
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/project-teams.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Teams
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/project-settings.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Settings
            </a>
          </li>
        </ul>
      </li>
      <!-- End Project -->

      <li class="navbar-nav-item">
        <a class="dropdown-item" href="@@autopath/referrals.html">
          <span class="tio-circle nav-indicator-icon"></span> Referrals
        </a>
      </li>

      <li class="dropdown-divider"></li>

      <!-- Signin -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownSignin" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownSignin">
          <span class="tio-circle nav-indicator-icon"></span> Sign In
        </a>

        <ul id="navLinkPagesDropdownSignin" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownSignin" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-signin-basic.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Basic
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-signin-cover.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Cover
            </a>
          </li>
        </ul>
      </li>
      <!-- End Signin -->

      <!-- Signup -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownSignup" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownSignup">
          <span class="tio-circle nav-indicator-icon"></span> Sign Up
        </a>

        <ul id="navLinkPagesDropdownSignup" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownSignup" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-signup-basic.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Basic
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-signup-cover.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Cover
            </a>
          </li>
        </ul>
      </li>
      <!-- End Signup -->

      <!-- Reset Password -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownResetPassword" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownResetPassword">
          <span class="tio-circle nav-indicator-icon"></span> Reset Password
        </a>

        <ul id="navLinkPagesDropdownResetPassword" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownResetPassword" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-reset-password-basic.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Basic
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-reset-password-cover.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Cover
            </a>
          </li>
        </ul>
      </li>
      <!-- End Reset Password -->

      <!-- Email Verification -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdownEmailVerification" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdownEmailVerification">
          <span class="tio-circle nav-indicator-icon"></span> Email Verification
        </a>

        <ul id="navLinkPagesDropdownEmailVerification" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdownEmailVerification" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-email-verification-basic.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Basic
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-email-verification-cover.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Cover
            </a>
          </li>
        </ul>
      </li>
      <!-- End Email Verification -->

      <!-- 2-step Verification -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="pagesDropdown2StepVerification" class="hs-mega-menu-invoker dropdown-item dropdown-item-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navLinkPagesDropdown2StepVerification">
          <span class="tio-circle nav-indicator-icon"></span> 2-step Verification
        </a>

        <ul id="navLinkPagesDropdown2StepVerification" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdown2StepVerification" style="min-width: 16rem;">
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-two-step-verification-basic.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Basic
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="@@autopath/authentication-two-step-verification-cover.html">
              <span class="tio-circle-outlined nav-indicator-icon"></span> Cover
            </a>
          </li>
        </ul>
      </li>
      <!-- End 2-step Verification -->

      <li class="dropdown-divider"></li>

      <!-- Welcome Page -->
      <li class="navbar-nav-item">
        <a class="dropdown-item" href="@@autopath/error-404.html">
          <span class="tio-circle nav-indicator-icon"></span> Error 404
        </a>
      </li>
      <!-- ENd Welcome Page -->

      <!-- Welcome Page -->
      <li class="navbar-nav-item">
        <a class="dropdown-item" href="@@autopath/error-500.html">
          <span class="tio-circle nav-indicator-icon"></span> Error 500
        </a>
      </li>
      <!-- ENd Welcome Page -->

      <li class="dropdown-divider"></li>

      <!-- Welcome Page -->
      <li class="navbar-nav-item">
        <a class="dropdown-item" href="@@autopath/welcome-page.html">
          <span class="tio-circle nav-indicator-icon"></span> Welcome Page
        </a>
      </li>
      <!-- ENd Welcome Page -->
    </ul>
    <!-- End Dropdown -->
  </li>
  <!-- End Pages -->

  <!-- Documentation -->
  <li class="hs-has-sub-menu navbar-nav-item">
    <a id="appsNavDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkappsNavDropdown">
      <i class="tio-apps nav-icon"></i> Apps
    </a>

    <!-- Dropdown -->
    <ul id="navLinkappsNavDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="appsNavDropdown" style="min-width: 16rem;">
      <li>
        <a class="dropdown-item" href="@@autopath/apps-kanban.html">
          <span class="tio-circle nav-indicator-icon"></span> Kanban
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="@@autopath/apps-calendar.html">
          <span class="tio-circle nav-indicator-icon"></span> Calendar <span class="badge badge-info badge-pill ml-1">New</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="@@autopath/apps-invoice-generator.html">
          <span class="tio-circle nav-indicator-icon"></span> Invoice Generator
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="@@autopath/apps-file-manager.html">
          <span class="tio-circle nav-indicator-icon"></span> File Manager
        </a>
      </li>
    </ul>
    <!-- End Dropdown -->
  </li>
  <!-- End Documentation -->

  <!-- Layouts -->
  <li class="navbar-nav-item">
    <a class="navbar-nav-link nav-link" href="@@autopath/layouts/layouts.html">
      <i class="tio-dashboard-vs-outlined nav-icon"></i> Layouts
    </a>
  </li>
  <!-- End Layouts -->

  <!-- Documentation -->
  <li class="hs-has-sub-menu navbar-nav-item">
    <a id="documentationDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkDocumentationDropdown">
      <i class="tio-book-opened nav-icon"></i> Docs
    </a>

    <!-- Dropdown -->
    <ul id="navLinkDocumentationDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="documentationDropdown" style="min-width: 16rem;">
      <li>
        <a class="dropdown-item" href="@@autopath/documentation/index.html">
          <span class="tio-circle nav-indicator-icon"></span> Documentation <span class="badge badge-primary badge-pill ml-1">v1.0</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="@@autopath/documentation/alerts.html">
          <span class="tio-circle nav-indicator-icon"></span> Components
        </a>
      </li>
    </ul>
    <!-- End Dropdown -->
  </li>
  <!-- End Documentation -->
</ul>
