<div id="datatableFilterSidebar" class="hs-unfold-content sidebar sidebar-bordered sidebar-box-shadow">
  <div class="card card-lg sidebar-card sidebar-footer-fixed">
    <div class="card-header">
      <h4 class="card-header-title">Filters</h4>

      <!-- Toggle Button -->
      <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-dark ml-2" href="javascript:;"
         data-hs-unfold-options='{
            "target": "#datatableFilterSidebar",
            "type": "css-animation",
            "animationIn": "fadeInRight",
            "animationOut": "fadeOutRight",
            "hasOverlay": true,
            "smartPositionOff": true
           }'>
        <i class="tio-clear tio-lg"></i>
      </a>
      <!-- End Toggle Button -->
    </div>

    <!-- Body -->
    <div class="card-body sidebar-body sidebar-scrollbar">
      <small class="text-cap mb-3">Product vendor</small>

      <div class="row">
        <div class="col-6">
          <!-- Custom Checkbox -->
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio1" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio1">Google</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio2" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio2">Topman</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio3" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio3">RayBan</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio4" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio4">Mango</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio5" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio5">Calvin Klein</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio6" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio6">Givenchy</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio7" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio7">Asos</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio8" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio8">Apple</label>
          </div>
          <!-- End Custom Checkbox -->
        </div>

        <div class="col-6">
          <!-- Custom Checkbox -->
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio9" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio9">Times</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio10" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio10">Asos</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio11" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio11">Nike Jordan</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio12" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio12">VA RVCA</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio13" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio13">Levis</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio14" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio14">Beats</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="productVendorFilterRadio15" name="productVendorFilterRadio" class="custom-control-input">
            <label class="custom-control-label" for="productVendorFilterRadio15">Clarks</label>
          </div>
          <!-- End Custom Checkbox -->
        </div>
      </div>
      <!-- End Row -->

      <a class="link mt-2" href="javascript:;">
        <i class="tio-clear"></i> Clear
      </a>

      <hr class="my-4">

      <small class="text-cap mb-3">Availability</small>

      <!-- Custom Checkbox -->
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productAvailabilityFilterRadio1" name="productAvailabilityFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productAvailabilityFilterRadio1">Available on Online Store</label>
      </div>
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productAvailabilityFilterRadio2" name="productAvailabilityFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productAvailabilityFilterRadio2">Unavailable on Online Store</label>
      </div>
      <!-- End Custom Checkbox -->

      <a class="link mt-2" href="javascript:;">
        <i class="tio-clear"></i> Clear
      </a>

      <hr class="my-4">

      <small class="text-cap mb-3">Tagged with</small>

      <div class="mb-2">
        <input type="text" class="js-tagify tagify-form-control form-control" name="tagsName" id="tagsLabel" placeholder="Enter tags here" aria-label="Enter tags here">
      </div>

      <a class="link mt-2" href="javascript:;">
        <i class="tio-clear"></i> Clear
      </a>

      <hr class="my-4">

      <small class="text-cap mb-3">Product type</small>

      <!-- Custom Checkbox -->
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productTypeFilterRadio1" name="productTypeFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productTypeFilterRadio1">Shoes</label>
      </div>
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productTypeFilterRadio2" name="productTypeFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productTypeFilterRadio2">Accessories</label>
      </div>
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productTypeFilterRadio3" name="productTypeFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productTypeFilterRadio3">Clothing</label>
      </div>
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productTypeFilterRadio4" name="productTypeFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productTypeFilterRadio4">Electronics</label>
      </div>
      <!-- End Custom Checkbox -->

      <a class="link mt-2" href="javascript:;">
        <i class="tio-clear"></i> Clear
      </a>

      <hr class="my-4">

      <small class="text-cap mb-3">Collection</small>

      <!-- Input Group -->
      <div class="input-group input-group-merge mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="tio-search"></i>
          </span>
        </div>
        
        <input type="search" class="form-control" placeholder="Search for collections" aria-label="Search for collections">
      </div>
      <!-- End Input Group -->

      <!-- Custom Checkbox -->
      <div class="custom-control custom-radio mb-2">
        <input type="radio" id="productCollectionFilterRadio1" name="productCollectionFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="productCollectionFilterRadio1">Home page</label>
      </div>
      <!-- End Custom Checkbox -->

      <a class="link mt-2" href="javascript:;">
        <i class="tio-clear"></i> Clear
      </a>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <div class="card-footer sidebar-footer">
      <div class="row gx-2">
        <div class="col">
          <button type="button" class="btn btn-block btn-white">Clear all filters</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-primary">Save</button>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Footer -->
  </div>
</div>