<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>API Keys | Front - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@@autopath/favicon.ico">

    <!-- Font -->
    <link href="@@vars.googleFont" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!-- bundlecss:vendor [@@autopath] -->
    <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">
    @@if (layoutBuilder.header.layoutMode !== 'default') {
      <link rel="stylesheet" href="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    }

    <!-- CSS Front Template -->
    <!-- bundlecss:theme [@@autopath] @@vars.version -->
    <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
  </head>

  <body class="@@if(layoutBuilder.header.layoutMode === 'default'){has-navbar-vertical-aside navbar-vertical-aside-show-xl} @@if(layoutBuilder.sidebarLayout === 'compact'){navbar-vertical-aside-compact-mode} @@if(layoutBuilder.sidebarLayout === 'mini'){navbar-vertical-aside-mini-mode} footer-offset">
    @@if (layoutBuilder.sidebarLayout !== 'compact' && layoutBuilder.sidebarLayout !== 'mini') {
      <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    }

    <!-- Search Form -->
    @@include("@@autopath/partials/layouts-components/mobile-search.html")
    <!-- End Search Form -->

    <!-- ========== HEADER ========== -->
    @@if (layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/header/main.html")
    }

    @@if (layoutBuilder.header.layoutMode === 'single') {
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/header/main-fluid.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/header/main-container.html")
      }
    }

    @@if (layoutBuilder.header.layoutMode === 'double') {
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/header/double-line-fluid.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/header/double-line-container.html")
      }
    }
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->
    @@if (layoutBuilder.sidebarLayout !== 'compact' && layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/sidebar/main.html", {
        "category": "pages",
        "subcategory": "account",
        "link": "account-api-keys.html"
      })
    }

    @@if (layoutBuilder.sidebarLayout === 'compact' && layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/sidebar/compact.html", {
        "category": "pages",
        "subcategory": "account",
        "link": "account-api-keys.html"
      })
    }
    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
      <!-- Content -->
      <div class="content @@layoutBuilder.header.containerMode">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                  <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                  <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Account</a></li>
                  <li class="breadcrumb-item active" aria-current="page">API Keys</li>
                </ol>
              </nav>

              <h1 class="page-header-title">API Keys</h1>
            </div>

            <div class="col-sm-auto">
              <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">
                <i class="tio-add mr-1"></i> Create key
              </a>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Stats -->
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-body text-center">
                <small class="text-cap">Projects</small>
                <span class="js-counter d-block display-3 text-dark mb-2">150</span>

                <div class="row">
                  <div class="col text-right">
                    <span class="d-block font-weight-bold text-success">
                      <i class="tio-trending-up"></i> 12%
                    </span>
                    <span class="d-block">change</span>
                  </div>

                  <div class="col column-divider text-left">
                    <span class="d-block font-weight-bold text-dark">5</span>
                    <span class="d-block">last week</span>
                  </div>
                </div>
                <!-- End Row -->
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-md-6 col-lg-4 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-body text-center">
                <small class="text-cap"><span class="legend-indicator bg-success"></span> Successful conversions</small>
                <span class="js-counter d-block display-3 text-dark mb-2">25</span>

                <div class="row">
                  <div class="col text-right">
                    <span class="d-block font-weight-bold text-success">
                      <i class="tio-trending-up"></i> 5.6%
                    </span>
                    <span class="d-block">change</span>
                  </div>

                  <div class="col column-divider text-left">
                    <span class="d-block font-weight-bold text-dark">7</span>
                    <span class="d-block">last week</span>
                  </div>
                </div>
                <!-- End Row -->
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div class="col-md-6 col-lg-4 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-body text-center">
                <small class="text-cap"><span class="legend-indicator bg-danger"></span> Failed conversions</small>
                <span class="js-counter d-block display-3 text-dark mb-2">4</span>

                <div class="row">
                  <div class="col text-right">
                    <span class="d-block font-weight-bold text-danger">
                      <i class="tio-trending-down"></i> 2.3%
                    </span>
                    <span class="d-block">change</span>
                  </div>

                  <div class="col column-divider text-left">
                    <span class="d-block font-weight-bold text-dark">1</span>
                    <span class="d-block">last week</span>
                  </div>
                </div>
                <!-- End Row -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Stats -->

        <!-- Card -->
        <div class="card">
          <!-- Header -->
          <div class="card-header">
            <div class="row flex-grow-1">
              <div class="col-md mb-2 mb-md-0">
                <h4 class="card-header-title">API Keys</h4>
                <p class="card-text font-size-sm">Keys you have generated to connect with third-party clients or access the <a href="#">Front API.</a></p>
              </div>

              <div class="col-md-auto">
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Datatable Info -->
                  <div id="datatableCounterInfo" class="mr-2" style="display: none;">
                    <div class="d-flex align-items-center">
                      <span class="font-size-sm mr-3">
                        <span id="datatableCounter">0</span>
                        Selected
                      </span>
                      <a class="btn btn-sm btn-outline-danger" href="javascript:;"><i class="tio-delete-outlined"></i> Delete</a>
                    </div>
                  </div>
                  <!-- End Datatable Info -->

                  <!-- Unfold -->
                  <div class="hs-unfold">
                    <a class="js-hs-unfold-invoker btn btn-sm btn-white dropdown-toggle" href="javascript:;"
                       data-hs-unfold-options='{
                         "target": "#usersExportDropdown",
                         "type": "css-animation"
                       }'>
                      <i class="tio-download-to mr-1"></i> Export
                    </a>

                    <div id="usersExportDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right">
                      <span class="dropdown-header">Select option:</span>
                      <a id="export-copy" class="dropdown-item" href="javascript:;">
                        <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/illustrations/copy.svg" alt="Image Description">
                        Copy
                      </a>
                      <a id="export-excel" class="dropdown-item" href="javascript:;">
                        <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/brands/excel.svg" alt="Image Description">
                        Excel
                      </a>
                      <a id="export-csv" class="dropdown-item" href="javascript:;">
                        <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
                        .CSV
                      </a>
                      <a id="export-pdf" class="dropdown-item" href="javascript:;">
                        <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/brands/pdf.svg" alt="Image Description">
                        PDF
                      </a>
                      <a id="export-print" class="dropdown-item" href="javascript:;">
                        <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/illustrations/print.svg" alt="Image Description">
                        Print
                      </a>
                    </div>
                  </div>
                  <!-- End Unfold -->
                </div>
              </div>
            </div>
            <!-- End Row -->
          </div>
          <!-- End Header -->

          <!-- Table -->
          <div class="table-responsive datatable-custom">
            <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                   data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [0, 1, 2, 3, 6],
                        "orderable": false
                      }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 6,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
              <thead class="thead-light">
                <tr>
                  <th class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                      <label class="custom-control-label" for="datatableCheckAll"></label>
                    </div>
                  </th>
                  <th class="table-column-pl-0">Name</th>
                  <th>Created by</th>
                  <th>API Key</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck1">
                      <label class="custom-control-label" for="apiKeyCheck1"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">Streamlab</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-circle mr-2">
                        <img class="avatar-img" src="@@autopath/assets/img/160x160/img9.jpg" alt="Image Description">
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">Christina Bersh</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode1" type="text" class="form-control" readonly value="GFKBH23BR2H3R29HO2N3">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode1",
                            "classChangeTarget": "#apiKeyCodeIcon1",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon1" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td><span class="legend-indicator bg-success"></span> Successful</td>
                  <td>March 11, 2020</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown1",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck2">
                      <label class="custom-control-label" for="apiKeyCheck2"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">Node</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-circle mr-2">
                        <img class="avatar-img" src="@@autopath/assets/img/160x160/img7.jpg" alt="Image Description">
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">David Harrison</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode2" type="text" class="form-control" readonly value="FIN2Y98NE0XH1N39X1N8F">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode2",
                            "classChangeTarget": "#apiKeyCodeIcon2",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon2" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="Warning" data-content="Htmlstream is performing routine maintenance">
                      <span class="legend-indicator bg-warning"></span> Warning
                      <i class="tio-info-outlined bi-sm ml-1"></i>
                    </span>
                  </td>
                  <td>January 07, 2020</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown2",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown2" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck3">
                      <label class="custom-control-label" for="apiKeyCheck3"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">FrontMail</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-soft-primary avatar-circle mr-2">
                        <span class="avatar-initials">A</span>
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">Anne Richard</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode3" type="text" class="form-control" readonly value="X291ZNO1Z29BE12YZ1Z12">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode3",
                            "classChangeTarget": "#apiKeyCodeIcon3",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon3" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td><span class="legend-indicator bg-success"></span> Successful</td>
                  <td>February 20, 2020</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown3",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown3" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck4">
                      <label class="custom-control-label" for="apiKeyCheck4"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">MobileAPI</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-circle mr-2">
                        <img class="avatar-img" src="@@autopath/assets/img/160x160/img4.jpg" alt="Image Description">
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">Sam Kart</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode4" type="text" class="form-control" readonly value="2N08C523X192YX1B231912">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode4",
                            "classChangeTarget": "#apiKeyCodeIcon4",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon4" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="Error code" data-content="Your API has failed. Please verify and resubmit.">
                      <span class="legend-indicator bg-danger"></span> Failed
                      <i class="tio-info-outlined bi-sm ml-1"></i>
                    </span>
                  </td>
                  <td>October 29, 2019</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown4",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown4" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck5">
                      <label class="custom-control-label" for="apiKeyCheck5"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">RachelsKey</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-soft-dark avatar-circle mr-2">
                        <span class="avatar-initials">R</span>
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">Rachel Doe</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode5" type="text" class="form-control" readonly value="GANA9ASD2XN931AFDQUI1">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode5",
                            "classChangeTarget": "#apiKeyCodeIcon5",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon5" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="Error code" data-content="Your API has failed. Please verify and resubmit.">
                      <span class="legend-indicator bg-danger"></span> Failed
                      <i class="tio-info-outlined bi-sm ml-1"></i>
                    </span>
                  </td>
                  <td>June 01, 2019</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown5",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown5" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="apiKeyCheck6">
                      <label class="custom-control-label" for="apiKeyCheck6"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">Gulp</td>
                  <td>
                    <a class="media align-items-center text-dark" href="#">
                      <div class="avatar avatar-xs avatar-soft-danger avatar-circle mr-2">
                        <span class="avatar-initials">B</span>
                      </div>
                      <div class="media-body ">
                        <span class="text-hover-primary">Brian Halligan</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <div class="input-group input-group-sm input-group-merge table-input-group">
                      <input id="apiKeyCode6" type="text" class="form-control" readonly value="LO2H1278EDBK12D12I127G">
                      <div class="input-group-append">
                        <a class="js-clipboard input-group-text" href="javascript:;" data-toggle="tooltip" title="Copy to clipboard"
                           data-hs-clipboard-options='{
                            "type": "tooltip",
                            "successText": "Copied!",
                            "contentTarget": "#apiKeyCode6",
                            "classChangeTarget": "#apiKeyCodeIcon6",
                            "defaultClass": "tio-copy",
                            "successClass": "tio-done"
                           }'>
                          <i id="apiKeyCodeIcon6" class="tio-copy"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td><span class="legend-indicator bg-success"></span> Successful</td>
                  <td>May 15, 2019</td>
                  <td>
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#apiKeyDropdown6",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                        More <i class="tio-chevron-down ml-1"></i>
                      </a>
                      <div id="apiKeyDropdown6" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#createAKIKeyModal">Regenerate Key</a>
                        <a class="dropdown-item" href="#">Disable</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End Table -->

          <!-- Footer -->
          <div class="card-footer">
            <!-- Pagination -->
            <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
              <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                  <span class="mr-2">Showing:</span>

                  <!-- Select -->
                  <select id="datatableEntries" class="js-select2-custom"
                          data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }'>
                    <option value="4">4</option>
                    <option value="6" selected>6</option>
                    <option value="8" disabled>8</option>
                    <option value="12" disabled>12</option>
                  </select>
                  <!-- End Select -->

                  <span class="text-secondary mr-2">of</span>

                  <!-- Pagination Quantity -->
                  <span id="datatableWithPaginationInfoTotalQty"></span>
                </div>
              </div>

              <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                  <!-- Pagination -->
                  <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                </div>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
          <!-- End Footer -->
        </div>
        <!-- End Card -->
      </div>
      <!-- End Content -->

      <!-- Footer -->
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/footer/main.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/footer/container.html")
      }
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Keyboard Shortcuts -->
    @@include("@@autopath/partials/layouts-components/sidebar-shortcuts.html")
    <!-- End Keyboard Shortcuts -->

    <!-- Activity -->
    @@include("@@autopath/partials/layouts-components/sidebar-activity.html")
    <!-- End Activity -->

    <!-- Welcome Message Modal -->
    @@include("@@autopath/partials/modals/modal-welcome.html")
    <!-- End Welcome Message Modal -->

    <!-- Create New API Key Modal -->
    @@include("@@autopath/partials/modals/modal-create-api-key.html")
    <!-- End Create New API Key Modal -->
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Global Compulsory @@deleteLine:build -->
    <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <!-- bundlejs:vendor [@@autopath] -->
    <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-counter/dist/hs-counter.min.js"></script>
    <script src="@@autopath/node_modules/clipboard/dist/clipboard.min.js"></script>
    <script src="@@autopath/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="@@autopath/assets/vendor/datatables.net.extensions/select/select.min.js"></script>
    <script src="@@autopath/node_modules/appear/dist/appear.min.js"></script>
    <script src="@@autopath/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="@@autopath/node_modules/jszip/dist/jszip.min.js"></script>
    <script src="@@autopath/node_modules/pdfmake/build/pdfmake.min.js"></script>
    <script src="@@autopath/node_modules/pdfmake/build/vfs_fonts.js"></script>
    <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="@@autopath/node_modules/select2/dist/js/select2.full.min.js"></script>
    @@if (layoutBuilder.header.layoutMode !== 'default') {
     <script src="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    }

    <!-- JS Front -->
    <!-- bundlejs:theme [@@autopath] -->
    <script src="@@autopath/assets/js/hs.core.js"></script>
    <script src="@@autopath/assets/js/hs.datatables.js"></script>
    <script src="@@autopath/assets/js/hs.clipboard.js"></script>
    <script src="@@autopath/assets/js/hs.select2.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // =======================================================


        // BUILDER TOGGLE INVOKER
        // =======================================================
        $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
          $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
        });

        @@if (layoutBuilder.header.layoutMode !== 'default') {
          // INITIALIZATION OF MEGA MENU
          // =======================================================
          var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
            desktop: {
              position: 'left'
            }
          }).init();
        }

        
        // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
        // =======================================================
        var sidebar = $('.js-navbar-vertical-aside').hsSideNav();

        
        // INITIALIZATION OF TOOLTIP IN NAVBAR VERTICAL MENU
        // =======================================================
        $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

        $(".js-nav-tooltip-link").on("show.bs.tooltip", function(e) {
          if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
            return false;
          }
        });

        
        // INITIALIZATION OF UNFOLD
        // =======================================================
        $('.js-hs-unfold-invoker').each(function () {
          var unfold = new HSUnfold($(this)).init();
        });

        
        // INITIALIZATION OF FORM SEARCH
        // =======================================================
        $('.js-form-search').each(function () {
          new HSFormSearch($(this)).init()
        });

        
        // INITIALIZATION OF COUNTERS
        // =======================================================
        $('.js-counter').each(function() {
          var counter = new HSCounter($(this)).init();
        });

        
        // INITIALIZATION OF DATATABLES
        // =======================================================
        var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'copy',
              className: 'd-none'
            },
            {
              extend: 'excel',
              className: 'd-none'
            },
            {
              extend: 'csv',
              className: 'd-none'
            },
            {
              extend: 'pdf',
              className: 'd-none'
            },
            {
              extend: 'print',
              className: 'd-none'
            },
          ],
          select: {
            style: 'multi',
            selector: 'td:first-child input[type="checkbox"]',
            classMap: {
              checkAll: '#datatableCheckAll',
              counter: '#datatableCounter',
              counterInfo: '#datatableCounterInfo'
            }
          }
        });

        $('#export-copy').click(function() {
          datatable.button('.buttons-copy').trigger()
        });

        $('#export-excel').click(function() {
          datatable.button('.buttons-excel').trigger()
        });

        $('#export-csv').click(function() {
          datatable.button('.buttons-csv').trigger()
        });

        $('#export-pdf').click(function() {
          datatable.button('.buttons-pdf').trigger()
        });

        $('#export-print').click(function() {
          datatable.button('.buttons-print').trigger()
        });

        
        // INITIALIZATION OF CLIPBOARD
        // =======================================================
        $('.js-clipboard').each(function() {
          var clipboard = $.HSCore.components.HSClipboard.init(this);
        });

        
        // INITIALIZATION OF SELECT2
        // =======================================================
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });
      });
    </script>

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>
