<aside id="navbarVerticalNavMenu" class="js-navbar-vertical-aside navbar navbar-vertical navbar-shadow navbar-collapse collapse rounded">
  <!-- Navbar Nav -->
  <ul class="navbar-nav card-navbar-nav">
    @@include("../layouts-components/navbar-vertical-menu.html", {
      "category": "@@category",
      "subcategory": "@@subcategory",
      "link": "@@link"
    })
  </ul>
  <!-- End Navbar Nav -->

  <!-- Footer -->
  <div class="navbar-vertical-footer">
    <ul class="navbar-vertical-footer-list">
      <li class="navbar-vertical-footer-list-item">
        <!-- Unfold -->
        @@include("../layouts-components/sidebar-builder-toggle-ghost-secondary.html")
        <!-- End Unfold -->
      </li>

      <li class="navbar-vertical-footer-list-item">
        <!-- Other Links -->
        @@include("../layouts-components/dropdown-help.html")
        <!-- End Other Links -->
      </li>

      <li class="navbar-vertical-footer-list-item">
        <!-- Language -->
        @@include("../layouts-components/dropdown-language.html")
        <!-- End Language -->
      </li>
    </ul>
  </div>
  <!-- End Footer -->
</aside>