<div class="modal fade" id="addEventToCalendarModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <i class="tio-clear tio-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Media -->
        <div class="media">
          <label for="eventTitleLabel" class="sr-only">Title</label>

          <textarea id="eventTitleLabel" class="form-control form-control-title" placeholder="Add title"></textarea>
        </div>
        <!-- End Media -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-format-points nav-icon"></i>

              <div class="media-body">Event type</div>
            </div>
          </div>

          <div class="col-sm">
            <!-- Select -->
            <select class="js-select2-custom custom-select" size="1" style="opacity: 0;" id="eventColorLabel"
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity",
                      "placeholder": "Select event color",
                      "dropdownAutoWidth": true,
                      "width": true
                    }'>
              <option value="fullcalendar-custom-event-hs-team" selected data-option-template='<span class="legend-indicator bg-primary"></span>HS Team'>HS Team</option>
              <option value="fullcalendar-custom-event-reminders" data-option-template='<span class="legend-indicator bg-danger"></span>Reminders'>Reminders</option>
              <option value="fullcalendar-custom-event-tasks" data-option-template='<span class="legend-indicator bg-dark"></span>Tasks'>Tasks</option>
              <option value="fullcalendar-custom-event-holidays" data-option-template='<span class="legend-indicator bg-warning"></span>Success'>Success</option>
            </select>
            <!-- End Select -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-event nav-icon"></i>

              <div class="media-body">Deadline</div>
            </div>
          </div>

          <div class="col-sm">
            <label for="eventDateRangeLabel" class="sr-only">Date</label>

            <!-- Flatpickr -->
            <input type="text" id="eventDateRangeLabel" class="js-flatpickr form-control flatpickr-custom mb-2" placeholder="Select dates"
                   data-hs-flatpickr-options='{
                     "dateFormat": "m/d/Y",
                     "mode": "range",
                     "minDate": "12/01/2020"
                   }'>
            <!-- End Flatpickr -->

            <label for="eventRepeatLabel" class="text-body mr-2 mb-0">Repeat:</label>

            <!-- Select -->
            <select class="js-select2-custom" id="eventRepeatLabel"
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity",
                      "customClass": "custom-select custom-select-sm",
                      "dropdownAutoWidth": true,
                      "width": true
                    }'>
              <option value="everyday" selected>Everyday</option>
              <option value="weekdays">Weekdays</option>
              <option value="never">Never</option>
            </select>
            <!-- End Select -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-group-senior nav-icon"></i>

              <div class="media-body">Guests</div>
            </div>
          </div>

          <div class="col-sm">
            <label for="eventGestsLabel" class="sr-only">Add guests</label>

            <!-- Tagify -->
            <input class="tagify-form-control form-control" id="eventGestsLabel" placeholder="Add guests" aria-label="Add guests"
                   data-hs-tagify-options='{
                     "delimiters": null,
                     "whitelist": [
                       {
                         "value": "Amanda Harvey",
                         "src": ""
                       },{
                         "value": "David Harrison",
                         "src": "@@autopath/assets/img/160x160/img3.jpg"
                       }, {
                         "value": "Finch Hoot",
                         "src": "@@autopath/assets/img/160x160/img5.jpg"
                       }, {
                         "value": "Ella Lauda",
                         "src": "@@autopath/assets/img/160x160/img9.jpg"
                       }
                     ],
                     "dropdown": {
                       "enabled": 0,
                       "classname": "tagify__dropdown__menu"
                     }
                   }'>
            <!-- End Tagify -->
          </div>
        </div>
        <!-- End Row -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-comment-video nav-icon"></i>

              <div class="media-body">Conference call</div>
            </div>
          </div>

          <div class="col-sm">
            <a class="btn btn-primary" href="#">
              <i class="tio-comment-video mr-1"></i> Add Zoom video conferencing
            </a>
          </div>
        </div>
        <!-- End Row -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-poi nav-icon"></i>

              <div class="media-body">Location</div>
            </div>
          </div>

          <div class="col-sm">
            <label for="eventLocationLabel" class="sr-only">Add location</label>

            <input type="text" class="form-control" id="eventLocationLabel" placeholder="Add location" aria-label="Add location">
          </div>
        </div>
        <!-- End Row -->

        <div class="row form-group">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-text-left nav-icon"></i>

              <div class="media-body">Description</div>
            </div>
          </div>

          <div class="col-sm">
            <label for="eventDescriptionLabel" class="sr-only">Add description</label>

            <textarea id="eventDescriptionLabel" class="form-control" placeholder="Add description"></textarea>
          </div>
        </div>
        <!-- End Row -->

        <div class="row">
          <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="media align-items-center mt-2">
              <i class="tio-user-big-outlined nav-icon"></i>

              <div class="media-body">Created by</div>
            </div>
          </div>

          <div class="col-sm">
            <!-- Media -->
            <a class="d-inline-flex align-items-center" href="@@autopath/user-profile.html">
              <div class="avatar avatar-sm avatar-circle mr-3">
                <img class="avatar-img" src="@@autopath/assets/img/160x160/img6.jpg" alt="Image Description">
              </div>
              <div class="media-body"><span class="h5 text-hover-primary">Mark Williams</span></div>
            </a>
            <!-- End Media -->
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" id="discardFormt" class="btn btn-white" data-dismiss="modal">Discard</button>
        <button type="button" id="processEvent" class="btn btn-primary">Create event</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>
