<div class="modal fade" id="createAKIKeyModal" tabindex="-1" role="dialog" aria-labelledby="createAKIKeyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 id="createAKIKeyModalTitle" class="modal-title">Create API Key</h4>

        <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <i class="tio-clear tio-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="API Key name">
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer justify-content-start">
        <div class="row align-items-sm-center flex-grow-1 mx-n1">
          <div class="col-sm mb-2 mb-sm-0">
            <p class="modal-footer-text">What is an API? <i class="tio-help-outlined" data-toggle="tooltip" data-placement="top" title="API stands for application programming interface. It can be helpful to think of the API as a way for different apps to talk to one another."></i></p>
          </div>

          <div class="col-sm-auto text-sm-right">
            <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="button" class="btn btn-primary">Generate</button>
          </div>
        </div>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>