<div class="modal fade" id="importCustomersModal" tabindex="-1" role="dialog" aria-labelledby="importCustomersModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 id="importCustomersModalTitle" class="modal-title">Import customers by CSV</h4>

        <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <i class="tio-clear tio-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <p><a href="#">Download a sample CSV template</a> to see an example of the format required.</p>

        <!-- Form Group -->
        <div class="form-group">
          <!-- Dropzone -->
          <div id="attachFilesNewProjectLabel" class="js-dropzone dropzone-custom custom-file-boxed">
            <div class="dz-message custom-file-boxed-label">
              <img class="avatar avatar-xl avatar-4by3 mb-3" src="@@autopath/assets/svg/illustrations/browse.svg" alt="Image Description">
              <h5 class="mb-1">Choose files to upload</h5>
              <p class="mb-2">or</p>
              <span class="btn btn-sm btn-primary">Browse files</span>
            </div>
          </div>
          <!-- End Dropzone -->
        </div>
        <!-- End Form Group -->
  
        <!-- Custom Checkbox -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="overwriteCurrentCustomersCheckbox">
          <label class="custom-control-label" for="overwriteCurrentCustomersCheckbox">Overwrite existing customers that have the same email or phone</label>
        </div>
        <!-- End Custom Checkbox -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-primary">Import customers</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>