<div class="modal fade" id="invoiceReceiptModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-top-cover bg-dark text-center">
        <figure class="position-absolute right-0 bottom-0 left-0 ie-modal-curved-shape">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1" style="margin-bottom: -2px;">
            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
          </svg>
        </figure>

        <div class="modal-close">
          <button type="button" class="btn btn-icon btn-sm btn-ghost-light" data-dismiss="modal" aria-label="Close">
            <i class="tio-clear tio-lg"></i>
          </button>
        </div>
      </div>
      <!-- End Header -->

      <div class="modal-top-cover-icon">
        <span class="icon icon-lg icon-light icon-circle icon-centered shadow-soft">
          <i class="tio-receipt-outlined"></i>
        </span>
      </div>

      <!-- Body -->
      <div class="modal-body pt-3 pb-sm-5 px-sm-5">
        <div class="text-center mb-5">
          <h2 class="mb-1">Invoice from Front</h2>
          <span class="d-block">Invoice #3682303</span>
        </div>

        <div class="row mb-6">
          <div class="col-md-4 mb-3">
            <small class="text-cap">Amount paid:</small>
            <span class="text-dark">$316.8</span>
          </div>

          <div class="col-md-4 mb-3">
            <small class="text-cap">Date paid:</small>
            <span class="text-dark">April 22, 2020</span>
          </div>

          <div class="col-md-4 mb-3">
            <small class="text-cap">Payment method:</small>
            <div class="d-flex align-items-center">
              <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/brands/mastercard.svg" alt="Image Description">
              <span class="text-dark">&bull;&bull;&bull;&bull; 4242</span>
            </div>
          </div>
        </div>

        <small class="text-cap mb-2">Summary</small>

        <ul class="list-group mb-4">
          <li class="list-group-item text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <span>Payment to Front</span>
              <span>$264.00</span>
            </div>
          </li>

          <li class="list-group-item text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <span>Tax fee</span>
              <span>$52.8</span>
            </div>
          </li>

          <li class="list-group-item list-group-item-light text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <span class="font-weight-bold">Amount paid</span>
              <span class="font-weight-bold">$316.8</span>
            </div>
          </li>
        </ul>

        <div class="d-flex justify-content-end">
          <a class="btn btn-sm btn-white mr-2" href="#"><i class="tio-download-to mr-1"></i> PDF</a>
          <a class="btn btn-sm btn-white" href="#"><i class="tio-print mr-1"></i> Print Details</a>
        </div>

        <hr class="my-5">

        <p class="modal-footer-text">If you have any questions, contact us at <a href="mailto:example@gmail.com">example@gmail.com</a> or call at <a href="#">+1 898 34-5492</a></p>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>