<div class="modal fade" id="customersGuideModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <i class="tio-clear tio-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body p-sm-5">
        <div class="text-center mb-5">
          <h4 class="h1">Welcome to Front Customers</h4>
        </div>

        <!-- Media -->
        <div class="d-sm-flex">
          <img class="avatar avatar-xl avatar-4by3 mb-3 mb-sm-0 mr-4" src="@@autopath/assets/svg/illustrations/chat.svg" alt="Image Description">

          <div class="media-body">
            <h4>All your customers in one place</h4>
            <p>The E-commerce is where you can view &amp; manage your customers and all their activity at your business.</p>
          </div>
        </div>
        <!-- End Media -->

        <hr class="my-4">

        <!-- Media -->
        <div class="d-sm-flex">
          <img class="avatar avatar-xl avatar-4by3 mb-3 mb-sm-0 mr-4" src="@@autopath/assets/svg/illustrations/yelling.svg" alt="Image Description">

          <div class="media-body">
            <h4>Search, sort, filter, and group your customers</h4>
            <p>Quickly find the customers you need, and organize them however you prefer.</p>
          </div>
        </div>
        <!-- End Media -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Continue</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>