<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Main Footer (Container) - Layouts | Front - Admin &amp; Dashboard Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>
<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <div class="row justify-content-lg-center pt-lg-5 pt-xl-10">
        <div class="col-lg-9">
          <!-- Title -->
          <div class="text-center">
            <img class="img-fluid shadow-soft mb-5" src="@@autopath/assets/svg/layouts/footer-default-container.svg" alt="Image Description" style="max-width: 15rem;">

            <h1>Main Footer (Container)</h1>
            <p>Customize your overview page layout. Choose the one that best fits your needs.</p>
            <a class="btn btn-primary" href="layouts.html">Go back to Layouts</a>
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    @@include("@@autopath/partials/footer/container.html")
    <!-- End Footer -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Keyboard Shortcuts -->
  @@include("@@autopath/partials/layouts-components/sidebar-shortcuts.html")
  <!-- End Keyboard Shortcuts -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="@@autopath/assets/js/hs.core.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF UNFOLD
      // =======================================================
      $('.js-hs-unfold-invoker').each(function () {
        var unfold = new HSUnfold($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
  </script>
</body>
</html>