@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800|Noto+Sans+KR:100,200,300,400,500,600,700,800,900&display=swap&subset=korean');

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Noto Sans KR", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.07rem;
}

hr{
    border-top : 0.124rem dashed #707070;
    border-bottom: none;
}

span{
    color: #3c3c3c;
}

.container{
    height: auto;
}

#section1{
        background: url('../asset/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    background-color: #DEF5EE;
    height: 40vh;
    min-height: 10rem;
    max-height: 26rem;
}
#section1 img{
    display: block;
    width: 6rem;
    margin: 0 auto;
    padding-top: 7vh;
}
#section2{
    text-align: center;
    height: 60vh;
    max-height: 50rem;
    width: 100%;
    background: url("../asset/hand.png");
    background-repeat: no-repeat;
    background-size: 16rem;
    background-position: bottom left;
}

#section2 .content{
    margin: 0 auto;
    width: 80%;
    padding: 5%;
    position: absolute;
    top:20vh;
    left:5%;
}

#section2 .receipt{
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3rem);
  background-color: var(white);
    display: block;
    max-width: 25rem;
    margin: 0 auto;
    height: 22rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

#section2 .course{
    display: block;
    padding: 2.4rem 8% 0;
}
#section2 .course hr{
    margin-bottom: 1rem;
}
#section2 h1{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #3c4576;
}
#section2 .course span{
    font-size: 1.5rem;
    font-weight: 600;
}

#section2 .fee{
    display: block;
    padding: 3rem 8% 0;
}
#section2 .fee span{
    font-size: 1.7rem;
    font-weight: 600;
}



a.btn{
    display: block;
    max-width: 23rem;
    margin: 4rem auto;
    padding: 3px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    background-color: #3c4576;
    border-radius: 5px;
    height: 48px;
    font-size: 20px;
    line-height: 2.4;
}
